.form-item{
    display: flex;
    width: 400px;
    justify-content: space-around;
}
.form-item:last-of-type{
    margin-top: 15px;
}
.form-item label{
    width: 45px;
}
.container--form-container{
    display: flex;
}
.form-wrapper{
    border: 1px solid #B4B4F4;
}
table {
    border-collapse: collapse;
}
table, td {
    border: 1px solid black;
}
tbody{
    width: auto;
}
.district-name{
    width: 150px;
}
.value-cell{
    width: 120px;
    text-align: center;
}
.hidden{
    visibility: hidden;
}